.today {
    position: relative;
    height: 991px;
    &__bg {
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: -7px;
        img {
            width: 1550px;
            height: 991px;
        }
    }
    &__wrapper {
        padding-top: 111px;
        display: grid;
        grid-template-columns: repeat(2, 850px);
        justify-content: space-between;
    }
    &__photo {
        position: relative;
        &-mane {
            position: absolute;
            z-index: 2;
            img {
                width: 850px;
                height: 760px;
            }
        }
        &-rectangle {
            position: absolute;
            top: -25px;
            right: -50px;
            z-index: 1;
        }
    }
    .title {
        margin: 200px auto 0 auto;
        width: 350px;
        text-align: center;
    }
    &__block {
        width: 850px;
        height: 760px;
        background-color: $main-color;
    }
    &__text {
        width: 500px;
        margin: 40px auto 0 auto;
        text-align: center;
        font-family: 'Goblin One';
        font-weight: 400;
        font-size: 20px;
    }
    &__btn {
        margin: 115px auto 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Goblin One';
        font-size: 32px;
        width: 290px;
        height: 94px;
        background-color: black;
        color: #fff;
        cursor: pointer;
    }
}